spring:
  application:
    name: opener-maket

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3307/opener-maket}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:password}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}

  threads:
    virtual:
      enabled: true